<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.HouseMapper">

  <update id="updateHouse" parameterType="com.jk.model.HouseBean">
   update house_house set houseNumber=#{houseNumber},coveredArea=#{coveredArea},houseType=#{houseType},orientation=#{orientation},
   subway=#{subway},station=#{station},province=#{province},city=#{city} where id=#{id}
  </update>

  <select id="updHouseInfoById" parameterType="int" resultType="com.jk.model.HouseBean">
    select * from house_house where id=#{id}
  </select>

  <select id="selSubway" resultType="com.jk.model.HouseSubwayBean">
    select * from house_subway where pid = #{value}
  </select>

  <select id="chaoxiang" resultType="com.jk.model.HouseOrientationBean">
    select * from house_orientation
  </select>

  <select id="huxing" resultType="com.jk.model.HouseTypeBean">
    select * from house_type
  </select>

  <select id="selArea" resultType="com.jk.model.HouseAreaBean">
    select * from house_area where pid = #{value}
  </select>

  <insert id="insertHouse" parameterType="com.jk.model.HouseBean">
    insert into house_house (houseNumber,coveredArea,price,houseType,orientation,subway,station,province,city,bigCity)
    values(#{houseNumber},#{coveredArea},#{price},#{houseType},#{orientation},#{subway},#{station},#{province},#{city},#{bigCity})
  </insert>

  <select id="selectHouseList"  resultType="com.jk.model.HouseBean">
      select
      t.id,
      t.houseId,
      t.houseNumber,
      t.coveredArea,
      t.price,
      t.floor,
      t.meter,
      t.housing,
      tt.name as typeName,
      ho.name as orientationName,
      sb.subwayName as subwayName,
      sb1.subwayName as stationName,
      ta1.name as provinceName,
      ta2.name as cityName,
      ta3.name as bigCityName,
      lb.name as lableName
          from house_house t
              left join house_subway sb on t.subway = sb.id
              left join house_subway sb1 on t.station = sb1.id
              left join house_type tt on t.houseType=tt.id
              left join house_area ta1 on t.province=ta1.id
              left join house_area ta2 on t.city=ta2.id
              left join house_area ta3 on t.bigCity=ta3.id
              left join house_orientation ho on t.orientation=ho.id
              left join house_label lb on t.lable=lb.id
           limit  #{start},#{rows}
   </select>

  <select id="queryHouseTotal"  resultType="long">
       select count(*) from house_house
   </select>


</mapper>