<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增页面</title>
    <style type="text/css">
        .myrow{
            margin-bottom:10px
        }
    </style>
</head>
<body>
<form id="myForm">
    <input type="hidden" name="id" id="id">
    <div class="container-fluid">
        <div class="row myrow">
            <div class="col-md-2">
                <label for="leaser">出租人</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="leaser" name="leaser">
            </div>

            <div class="col-md-2">
                <label for="tenant">承租人</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="tenant" name="tenant">
            </div>
        </div>
        <div class="row myrow">
            <div class="col-md-2">
                <label for="idnumber">身份证</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="idnumber" name="idnumber">
            </div>

            <div class="col-md-2">
                <label for="contactaddress">联系地址</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="contactaddress" name="contactaddress">
            </div>
        </div>

        <div class="row myrow">
            <div class="col-md-2">
                <label for="contactnumber">联系电话</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="contactnumber" name="contactnumber">
            </div>

            <div class="col-md-2">
                <label for="begindate">开始时间</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="begindate" name="begindate">
            </div>
        </div>

        <div class="row myrow">
            <div class="col-md-2">
                <label for="enddate">到期时间</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="enddate" name="enddate">
            </div>

            <div class="col-md-2">
                <label for="rent">租金</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="rent" name="rent">
            </div>
            <div class="col-md-2">
                <label for="cash">押金</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="cash" name="cash">
            </div>
        </div>
        <div class="col-md-2">
            <label for="housebelocated">地址落座</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="housebelocated" name="housebelocated">
        </div>
    </div>
    </div>
</form>
</body>
</html>